.banner {
    padding: 0;
    // background: url("../img/anim.png");
    // background-size: contain;
    // background-repeat: repeat;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(to top, $colorred, rgba($colorred, 0.7), $colorred);
    // }
    .image {
        position: absolute;
        width: 75%;
        height: auto;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
            left: 65%;
            width: 100%;
            transform: translate(-50%, -50%) scale(2);
        }
        &.second {
            left: 50%;
            z-index: -1;
            top: 40%;
        }
        img {
            width: 100%;
            // border-radius: 0 0 32px 32px;
            height: 100%;
            object-fit: contain;
        }
    }
    .title {
        position: absolute;
        left: 73%;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 32%;
        text-align: left;
        @media screen and (max-width: 768px) {
            width: 90%;
            top: 75%;
            text-align: center;
            left: 50%;
        }
        h2 {
            font-size: 3rem;
            filter: drop-shadow(2px 4px 6px #124646);
            color: white;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 2.2rem;
            }
        }
    }
}
