.berkembang {
    .title {
        h3 {
            // font-family: 'Mulish';
        }
    }
    .hello {
        background: linear-gradient(to left, #baf5ed, rgba(186,245,237,0.8));
    }
    .pedagang {
        position: absolute;
        // left: -35%;
        // left: 50;
        top: 50%;
        transform: translate(0%, -50%);
        width: 470px;
        z-index: -1;
        height: auto;
        // position: relative;
        display: inline-block;
        @media screen and (max-width:768px) {
            left: -50%;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .second-content {
        // display: inline-block;
        // width: 45%;
        // margin-left: 15%;
    }

    .margin-opsion {
        margin-left: 20%;
        padding: 8px 16px;
        background: linear-gradient(to right, rgba($colorred,.7), transparent);
        &.is-margin {
            @media screen and (max-width:768px) {
                margin-left: 0;
                padding: 0;
            }
        }
    }
}