.japfa {
    .img {
        margin: 0 auto 16px;
    }
    .wrap-detikx {
        position: relative;
        z-index: 4;
        // p {
        //     color: red;
        // }
    }

    .infog {
        width: 80%;
        height: 80vh;
        margin: 0 auto;
        background: $third;
        @media screen and (max-width: 768px) {
            height: 50vh;
            width: 100%;
        }
    }

    .cek-putih {
        background: silver;
        // margin: 16px 0;
        padding: 16px;
        // height: 50vh;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 700px;
        transform: translate(-50%, -50%);
        height: 480px;
        @media screen and (max-width: 8768px) {
            width: 90%;
        }
    }
    .sticky-mode {
        z-index: 8;
    }
    .bawahx {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 8;
        // padding: 8px;
        background: #ace6e7;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
